* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

html,
body {
    width: 100%;
    height: 100%;
}

span {
    color: #79829C;
}

a {
    text-decoration: none;
}

#greeen {
    color: rgb(52, 195, 143);
}

#arrow {
    color: #000;
    font-size: 1.3vw;
}

#arrow3 {
    color: #aa9ae8;
    /* background-color: #aa9ae8; */
    font-size: 1.4vw;
    position: absolute;
    animation-name: aroow;
    animation-duration: 800ms;
    animation-iteration-count: infinite;
    animation-timing-function: non-linear;
}

@keyframes aroow {
    from {
        left: 0;
    }

    to {
        left: 8%;
    }
}

#marg {
    position: relative;
    left: 15%;
    margin-right: 15%;
}

.wrapper {
    position: relative;
    display: flex;
    width: 100vw;
    height: 100vh;
}

.sidebar {
    overflow-y: auto;
    position: fixed;
    z-index: 99;
    padding: 1vh 2vw;
    width: 18%;
    height: 100vh;
    background-color: #2A3042;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.sidebar .logo {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    height: 8vh;
    border-bottom: 1px solid #ffffff8e;
}

.sidebar .logo img {
    width: 50%;
    height: 35%;
}

.sidebar .sidebar-menu {
    padding: 2.5vh 0;
    display: flex;
    flex-direction: column;
    gap: 2.5vh;
}

.sidebar .sidebar-menu-apps {
    padding: 2.5vh 0;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    color: rgb(166, 176, 207);
    font-weight: 300;
}

.sidebar .sidebar-menu-apps h4 {
    font-weight: 100;
    font-size: 1vw;
    cursor: pointer;
}

.sidebar .sidebar-menu-apps h4:hover {
    color: #fff;
}

.sidebar .sidebar-menu h4 {
    cursor: pointer;
    color: #fff;
    font-size: 1vw;
    font-weight: 500;
}

.sidebar .sidebar-menu h5 {
    font-weight: 500;
    padding-left: 1.3vw;
    font-size: .95vw;
    color: #79829C;
}

.sidebar .sidebar-menu h5:nth-child(1) {
    padding-left: 0;
}

.sidebar .sidebar-menu-apps h5 {
    font-weight: 500;
    font-size: .95vw;
    color: #79829C;
}

.hero {
    margin-left: 18%;
    position: relative;
    width: 82%;
    background-color: #F8F8FB;
    overflow-x: hidden;
}

.hero .hero-navbar {
    position: fixed;
    left: 18%;
    padding: 1vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 82%;
    height: 9vh;
    background-color: #fff;
    z-index: 99;
}

.hero .hero-navbar i {
    cursor: pointer;
    color: #555B6D;
    font-size: 1.5vw;
    font-weight: 500;
}

.hero .hero-navbar i:nth-last-child(1) {
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.hero .hero-navbar i:nth-child(4) {
    animation-name: popup;
    animation-duration: 800ms;
    animation-iteration-count: infinite;
    animation-timing-function: non-linear;
}

@keyframes popup {
    from {
        scale: 1;
        transform: rotate(30deg);
    }

    to {
        scale: 1.1;
        transform: rotate(-30deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.hero .hero-navbar .navbar-left {
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.hero .hero-navbar .navbar-left form input {
    background-color: #F8F8FB;
    border: none;
    padding: 1.5vh 2vw;
    border-radius: 5px;
}

.hero .hero-navbar .navbar-left select {
    border: none;
    color: #555B6D;
    font-size: 1vw;
    cursor: pointer;
}

.hero .hero-navbar .navbar-right {
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.hero .hero-navbar .navbar-right>img {
    width: 30px;
    height: 30px;
}


.hero .hero-navbar .navbar-right .user-profile {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: .3vw;
}

.user-profile img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff
}

.user-profile h5 {
    font-weight: 500;
    font-size: 1vw;
    color: #555B6D;
}

.main {
    margin-top: 6%;
    width: 100%;
    height: auto;
}

.main .dashboard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vw 3vw;
}

.main .dashboard h1 {
    font-size: 1.5vw;
    color: #555B6D;
}

.main .dashboard h2 {
    font-size: 1vw;
    color: #79829C;
    font-weight: 500;
}

.main-second {
    display: flex;
    width: 100%;
    height: auto;
    padding: 1vw 0;
}

.main-second .left-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1vw;
    width: 35%;
    /* height: 150vh; */
}

.main .left-bar .profile-bar {
    width: 90%;
    height: 16vw;
    background-color: #fff;
}

.profile-bar .profile-top {
    padding: 1vw;
    width: 100%;
    height: 43%;
    background-image: url(https://i.pinimg.com/736x/c7/9d/89/c79d89418fc8ad9d50fe1ac4f587c629.jpg);
    /* background-image: url(https://t3.ftcdn.net/jpg/05/03/05/64/360_F_503056488_rxMvPeD4asbjJHMArKPHU7nhdvWBPrRn.jpg); */
    background-size: cover;
    background-position: bottom;
}

.profile-bar .profile-top h2 {
    margin-bottom: 4px;
    color: #393939;
    font-size: 1.2vw;
}

.profile-bar .profile-top h3 {
    /* color: #A9A599; */
    color: #fff;
    font-size: 1vw;
    font-weight: 500;
}

.profile-bar .profile-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vw;
    width: 100%;
    height: 57%;
}

.profile-bar .profile-bottom .pro-btm-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    position: relative;
    width: 48%;
    height: 95%;
}

.profile-bar .profile-bottom .pro-btm-left>img {
    position: relative;
    top: -50%;
    padding: 2px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #c6cbda;
}

.profile-bar .profile-bottom .pro-btm-left>h5 {
    color: #2A3042;
    margin-top: -18px;
}

.profile-bar .profile-bottom .pro-btm-left>p {
    color: #79829C;
    margin-bottom: 30px;
}

.profile-bar .profile-bottom .pro-btm-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1vw;
    width: 50%;
    height: 100%;
}

.profile-bar .profile-bottom .pro-btm-right .btm-right-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-bar .profile-bottom .pro-btm-right .btm-right-top h5 {
    color: #79829C;
    font-weight: 500;
}

button {
    padding: .4vw .6vw;
    border: none;
    color: #fff;
    background-color: #B9ADEB;
    border-radius: 5px;
    cursor: pointer;
    transition: all ease-in-out .2s;
}

button:hover {
    background-color: #aa9ae8;

}

.main .left-bar .monthly-earning-bar {
    width: 90%;
    height: 18vw;
    background-color: #fff;
    display: flex;
}

.main .left-bar .monthly-earning-bar .earning-left {
    padding: 1vw 1.2vw;
    width: 50%;
    height: 16vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.main .left-bar .monthly-earning-bar .earning-left>h5 {
    color: #2A3042;
    font-size: 1.1vw;
}

.main .left-bar .monthly-earning-bar .earning-left p {
    color: #555B6D;
    font-size: 1vw;
    font-weight: 100 !important;
}

.main .left-bar .monthly-earning-bar .earning-left>h1 {
    font-size: 1.7vw;
    color: #555B6D;
}

.main .left-bar .monthly-earning-bar .earning-right {
    width: 50%;
    height: 16vw;
}

#score-meter-1 {
    width: 300px;
    height: 150px;
    border-top-left-radius: 360px;
    border-top-right-radius: 360px;
    overflow: hidden;
    position: relative;
}

#scorer-1-inner-div {
    position: absolute;
    left: 0%;
    top: 40%;
    width: 60%;
    height: 60%;
    border-top-left-radius: 360px;
    border-top-right-radius: 360px;
    background-image: linear-gradient(to right, #9d8ed9, #d5d3dd45);
    z-index: 2;
}

.scorer-1-tick {
    position: absolute;
    top: 40%;
    left: -250%;
    width: 300%;
    height: 5px;
    background-color: #fff;
    animation-name: ticker-mover-1;
    animation-duration: 2.2s;
    /* animation-iteration-count: infinite; */
    animation-timing-function: linear;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
}

#scorer-1-inner-div-5 {
    position: absolute;
    left: 45%;
    top: 80%;
    width: 10%;
    height: 20%;
    border-radius: 50%;
    background-color: #fff;
    z-index: 2;
}

@keyframes ticker-mover-1 {
    0% {
        transform-origin: right center;
        transform: rotate(0deg);
    }

    33% {
        transform-origin: right center;
        transform: rotate(120deg);
    }

    66% {
        transform-origin: right center;
        transform: rotate(120deg);
    }

    100% {
        transform-origin: right center;
        transform: rotate(0deg);
    }
}



.social-source-bar {
    padding: 1vw;
    width: 90%;
    height: 30vw;
    background-color: #fff;
}

.social-source-bar>h2 {
    color: #2A3042;
    font-size: 1.1vw;
}

.social-source-bar .facebook-sales {
    padding: 2vw 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 18vw;
}

.social-source-bar .facebook-sales>i {
    color: rgb(85, 110, 230);
    font-size: 1.6vw;
    background-color: rgb(212, 219, 249);
    border-radius: 20px;
    padding: .7vw;
}

.social-source-bar .facebook-sales h1 {
    font-size: 1.1vw;
}

.social-source-bar .facebook-sales p {
    color: #79829C;
    text-align: center;
}

.social-source-bar .facebook-sales a {
    color: #aa9ae8;
}

.social-icons {
    padding: 2vw .5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-icon {
    height: 6vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.social-icon i {
    padding: .5vw;
    border-radius: 20px;
    color: #fff;
}

.social-icon p {
    color: #2A3042;
}

.social-icon h6 {
    font-size: 1vw;
    font-weight: 400;
    color: #79829C;
}

.main .right-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
    width: 50vw;
}

.right-bar .right-bar-numbers1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 13vh;
}

.right-bar .right-bar-numbers1 .orders {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: calc(100%/3.4);
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #fff;
}

.right-bar .right-bar-numbers1 .orders .orders-top p {
    color: #555B6D;
}

.right-bar .right-bar-numbers1 .orders .orders-top h1 {
    font-size: 1.5vw;
    font-weight: 500;
    margin-top: 1vw;
    color: #2A3042;
}

.right-bar .right-bar-numbers1 .orders>i {
    font-size: 1.6vw;
    padding: 12px;
    color: #fff;
    border-radius: 50%;
    background-color: #B9ADEB;
}

.right-bar .bar-graph {
    width: 100%;
    height: 55vh;
    background-color: #fff;
}

.right-bar .bar-graph .bar-graph-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
    width: 100%;
    height: 10%;
}

.right-bar .bar-graph .bar-graph-top>h2 {
    color: #2A3042;
    font-size: 1.2vw;
}

.right-bar .bar-graph .bar-graph-top .bar-graph-top-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
}

.right-bar .bar-graph .bar-graph-top .bar-graph-top-right p {
    font-size: 1vw;
    color: #2A3042;
}

.right-bar .bar-graph .bar-graph-top .bar-graph-top-right p:nth-child(2) {
    font-size: 1vw;
    color: #B9ADEB;
}

.right-bar .bar-graph .bar-graph-top .bar-graph-top-right p:nth-last-child(1) {
    font-size: 1vw;
    color: #fff;
    background-color: #B9ADEB;
    padding: .6vw 1.2vw;
    border-radius: 5px;
}

.right-bar .right-bar-number3 {
    display: flex;
    justify-content: space-between;
    width: 50vw;
    height: auto;
}

.right-bar .right-bar-number3 .activity {
    width: 46%;
    height: 32vw;
    background-color: #fff;
    padding: 1vw 1.2vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.right-bar .right-bar-number3 .activity>h1 {
    font-size: 1.2vw;
    color: #2A3042;
}

.right-bar .right-bar-number3 .activity .activity-details {
    display: flex;
    flex-direction: column;
    gap: 2.2vw;
}

.right-bar .right-bar-number3 .activity .activity-details .details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

}

.right-bar .right-bar-number3 .activity .activity-details .details h6 {
    max-width: 45%;
    color: #79829C;
    font-weight: 100;
    font-size: .9vw;
    line-height: 2.5vh;
}

.right-bar .right-bar-number3 .activity .activity-details .details i {
    color: #aa9ae8;
}

.right-bar .right-bar-number3 .top-cities {
    padding: 1vw 1.2vw;
    width: 50%;
    height: 25vw;
    background-color: #fff;
}

.right-bar .right-bar-number3 .top-cities>h2 {
    color: #2A3042;
    font-size: 1.2vw;
}

.right-bar .right-bar-number3 .top-cities .rank {
    padding: 1vw 1.2vw;
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.right-bar .right-bar-number3 .top-cities .rank i {
    font-size: 3.2vw;
    color: #aa9ae8;
}

.right-bar .right-bar-number3 .top-cities .rank h1 {
    font-size: 2vw;
    font-weight: 500;
    color: #555B6D;
}

.right-bar .right-bar-number3 .top-cities .rank p {
    font-size: .9vw;
    font-weight: 300;
    color: #79829C;
}

.right-bar .right-bar-number3 .top-cities .cities {
    padding: 1vw;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.right-bar .right-bar-number3 .top-cities .cities .city {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 1px solid #79829c58;
}

.right-bar .right-bar-number3 .top-cities .cities .city h5 {
    color: #c6cbda;
    font-size: 1vw;
    font-weight: 500;
}

.right-bar .right-bar-number3 .top-cities .cities .city h3 {
    color: #79829C;
}

#blue {
    width: 6vw;
    height: 5px;
    background-color: #aa9ae8;
    border-radius: 20px;
}

#green {
    width: 5vw;
    height: 5px;
    background-color: rgb(52, 195, 143);
    border-radius: 20px;
}

#orange {
    width: 4vw;
    height: 5px;
    background-color: rgb(241, 180, 76);
    border-radius: 20px;
}

.latest-transition {
    margin: 0 1.5vw;
    padding: 1vw 2vw;
    width: 76vw;
    height: 30vw;
    background-color: #fff;
}

.latest-transition>h2 {
    font-size: 1.2vw;
    color: #2A3042;
}

.latest-transition table {
    width: 100%;
    padding: 2vw 0;
}

.latest-transition table tr {
    line-height: 3.2vw;
    max-width: 100%;
}

.latest-transition table td,
th {
    text-align: left;
    border-bottom: 1px solid #b9adeb5b;
    color: #4e5774;
    padding-left: .7vw;
}

.latest-transition tr:nth-child(1) {
    background-color: #b9adeb18;
}

table input {
    cursor: pointer;
}

tr td {
    font-size: .94vw;
}

.paid-btn {
    padding: .3vw;
    color: rgb(52, 195, 143) !important;
    background-color: rgba(52, 195, 143, 0.149);
}

.chargeback-btn {
    padding: .3vw;
    background-color: rgba(241, 180, 76, 0.185);
    color: rgb(241, 180, 76);
}

.refund-btn {
    color: red;
    background-color: rgba(255, 0, 0, 0.138);
}

.footer {
    padding: 0 1vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
    height: 4.2vw;
    background-color: rgb(242, 242, 245);
    color: #96989f;
    font-size: 1vw;
}

.main-g{
    position: relative;
    width: 100%;
    /* border-bottom: 1px solid black; */
}

.main-gg{
    width: 80%;
    height: 40vh;
    /* border-bottom: 1px solid black; */
    margin-left: 6vw;
}

.lineMG1{
    width: 100%;
    border-bottom: .2px solid rgb(191, 186, 186);
    margin-top: 5.5vh;
}

.main-month{
    display: flex;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: 2px solid black; */
    position: absolute;
}

.lineMM{
    position: absolute;
    bottom: 0;
    width: 15px;
    margin-left: 8vw;
    background: rgb(41, 183, 162);
    p{
        position: absolute;
        bottom: -50px;
    }
}
#MM1{
    height: 13vh;
    left: 30%;
}
#MM2{
    height: 37vh;
    left: 20%;
}
#MM3{
    height: 13vh;
    left: 60%;
}
#MM4{
    height: 25vh;
    left: 40%;
}
#MM5{
    height: 26vh;
    left: 70%;
}
#MM6{
    height: 26vh;
    left: 50%;
}
#MM7{
    height: 26vh;
    left: 10%;
}
